postgresql:
  enabled: false
serviceMonitor:
  enabled: true
  interval: 60s
  namespace: ${namespace}
config:
  datasource:
    host: postgresql-pgbouncer.everest.svc
    user: _crunchypgbouncer
    passwordSecret:
      name: pgbouncer-exporter
      key: password
    sslmode: require
  logLevel: "debug"
  logFormat: "logfmt"
