garage:
  dbEngine: "sqlite"
  replicationFactor: "1"
  adminToken: "${token}"

persistence:
  data:
    size: "100Gi"

deployment:
  replicaCount: 1

monitoring:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
