config:
  cluster:
    enabled: true
    replicas: 1
  merge:
    accounts:
      $SYS:
        users:
          - { user: system, password: a }
promExporter:
  enabled: true
  podMonitor:
    enabled: true
    interval: 60s
