replicaCount: 1

mode:
  standalone:
    enabled: true
  distributed:
    enabled: false

secret:
  rustfs:
    secret_key: "${password}"

ingress:
  enabled: false

storageclass:
  name: ${storage_class}
  size: 20Gi

containerSecurityContext:
  readOnlyRootFilesystem: false

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
