serviceMonitor:
  enabled: true
  interval: 60s
metrics:
  service:
    enabled: true
webhook:
  metrics:
    service:
      enabled: true
certController:
  metrics:
    service:
      enabled: true
extraVolumeMounts:
  - name: kube-root-ca-crt
    mountPath: /etc/ssl/certs/ca.crt
    subPath: ca.crt
extraVolumes:
  - name: kube-root-ca-crt
    configMap:
      name: kube-root-ca.crt
