persistence:
  defaultClassReplicaCount: ${count}

csi:
  attacherReplicaCount: "${count}"
  provisionerReplicaCount: "${count}"
  resizerReplicaCount: "${count}"
  snapshotterReplicaCount: "${count}"

defaultSettings:
  # temp
  replicaSoftAntiAffinity: true
  defaultReplicaCount: ${count}
  # temp
  replicaZoneSoftAntiAffinity: true

networkPolicies:
  enabled: true
  type: "rke2"

ingress:
  enabled: false
  ingressClassName: ${ingress_class}

metrics:
  serviceMonitor:
    enabled: true
