telemetry: false
server:
  rbac:
    enabled: true
    policy: |
      g, admin, role:admin
      g, "Everest Admin", role:admin
  oidc:
    issuerUrl: "https://profidev.io/backend/oauth"
    client_id: "fccee7d1-a358-4b9c-8463-dbeb1e666309"
    scopes:
      - email
      - profile
      - openid
      - groups
