controller:
  ingressClassResource:
    name: ${ingress_class}
    enabled: true
    default: true
    controllerValue: "k8s.io/ingress-nginx"
    parameters: {}

  ingressClass: ${ingress_class}
  watchIngressWithoutClass: false
